*{
    font-family: monospace;
    font-size: 18px;
}
body{
    background-color: #0a0a23;
    margin: 0;
}
/* HEADER SECTION */
header{
    width: 100%;
}
.nav-header{
    text-align: center;
    height: 60px;
    background-color: #0a0a23;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
header h1{
    font-size: 32px;
}
.nav-left{
    flex: 1 0 33%;
    display: flex;
    justify-content: flex-start;
}
.nav-center{
    flex: 1 0 33%;
}
.nav-right{
    flex: 1 0 33%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 10px;
}
.button-style{
    border: 1px solid #383a59;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    transition: all .3s ease-in-out;
    background-color: #0a0a23;
    color: #ffffff;
    border-radius: 5px;
}
.button-style:hover{
    background: #bd93f9;
    color: #000;
}
/* HEADER SECTION */

/* Main Section */
main{
    background-color: #1b1b32;
    color: white;
    height: 100vh;
    width: 100%;
}
.data-table{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 50px;
}
.data-table table{
    margin: 5px auto;
    width: 70%;
}
.data-table table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
.data-table th,td{
    padding: 5px;
    text-align: center;
}
.container-area{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.joystick-container{
    position: relative;
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column-reverse;
}
.joystick-container button{
    width: 50%;
    margin: 0 auto;

}
.sensor-area{
    width: 70%;
    height: 40vh;
    margin: auto;
    text-align: center;
}
.sensor-container{
    width: 200px;
    height: 200px;
}