.title-header{
    text-align: center;
}
#connect-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 1%;
}
#connect-status{
    display: flex;
    align-items: center;
    justify-content: center;
}

#camera_stream{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}
#camera_source{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 1%;
    visibility: hidden;
}
#controller_area{
    text-align: center;
    width: 80%;
    margin:auto;
    height: 180px;
    margin-bottom: 10%;
    visibility: hidden;
}
#joystick_container{
    position: static;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 5%;
}